* {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
header {
	width: 100%;
	padding: 10px;
}

main {
	position: relative;
	padding: 50px 0px;
	font-size: 92%;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

#articulos {
	width: 1200px;
}

#articulos #requerimiento {
	width: 550px;
	display: inline-block;
	vertical-align: top;
	border: red 2px solid;
}

#articulos #avances {
	width: 600px;
	height: 400px;
	display: inline;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	border: blue 2px solid;
}

#articulos #avances header {
	font-size: 5px;
	text-align: center;
}

#articulos #anidado {
	width: 400px;
	height: 300px;
	display: inline;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	border: green 2px solid;
}

#articulos #anidado header {
	font-size: 5px;
	text-align: center;
}