div#body{

	margin: auto;
	margin-top: 30px;
	width: 1050px;
	height: 200px;

}

div#body2{
	margin: auto;
	margin-top: 30px;
	width: 1050px;
	height: 200px;

}

div#porSolicitante{
	width: 300px;
	height: 200px;
	float: left;
	
}

div#porResolutor{
	width: 300px;
	height: 200px;
	float: left;
	
}

div#porEstado{

	width: 300px;
	height: 200px;
	float: left;
}

select {

	width: 200px;
	height: 37px;
	margin: 5px;
}

input {
	margin: 5px;
	height: 37px; 
}

label {
	margin: 5px;
}

button {

	margin: 5px;
}

div#porEjecutado{

	width: 350px;
	height: 200px;
	float: left;
}

select#comparacion{

	width: 200px;
	height: 37px;
	margin: 5px;
}

div#graficos1{

	margin: auto;
	margin-top: auto;
	width: 1170px;
	height: 300px;

}

div#graficos{

	margin: auto;
	padding-left: 200px;
	margin-top: auto;
	width: 1170px;
	height: 500px;

}

div#donutchart{

	width: 380px;
	height: 280px;	
	float: left;
	margin: 0px;
	padding: 0px;

}

div#donutchart2{

	width: 380px;
	height: 280px;	
	float: left;

}

div#donutchart3{

	margin: auto;
	padding: 0px;
	margin: 0px;	
	float: left;
