
RewriteEngine on
RewriteCond %{HTTP_HOST} ^easytask\.itconsultants\.cl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.easytask\.itconsultants\.cl$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "https\:\/\/easytask\.itconsultants\.cl\/laravel\/public\/login" [R=301,L]

